<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notificación de Cotización</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #007bff; /* Cambio de fondo a azul */
            color: #fff; /* Cambio de color de texto a blanco */
        }
        .container {
            max-width: 600px;
            margin: 20px auto;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        h1 {
            text-align: center;
            margin-bottom: 20px;
            font-weight: bold; /* Estilo negrita */
        }
        p, ul {
            font-weight: bold; /* Estilo negrita */
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Cotización</h1>
        <p>Estimado/a <strong>{{ cliente }}</strong>,</p>
        <p>Nos alegra informarle que su cotización ha sido <strong>{{ aprobada }}</strong>.</p>
            <center>
        <p>Detalles de cotización:</p>
            </center>

       
            <strong>Destino:</strong> {{ destino }}
            <br>
            <strong>Kilómetros recorridos:</strong> {{ total_km }}
            <br>
            <strong>Precio por kilómetro:</strong> {{ precio_km }}
            <br>
            <strong>Precio extra por categoría:</strong> {{ porcentaje_categoria }}
            <br>
            <strong>Total a pagar:</strong> {{ precio }}
            <br>
            <strong>Folio de la cotización:</strong> {{ folio }}
            <br>
            <strong>Categoría:</strong> {{ categoria }}
        

        <p>Se encuentra adjunta la imagen de su documento para validar su identidad </p>

    </div>
</body>
</html>